.ErrorContainer {
    height: 100dvh;
    width: 100vw;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d1d1d1;
}

.Title {
    margin: 0px 0px;
}