.Layout {
    display: grid;
    grid-template: calc(100% - 72px) 72px / auto auto;
    width: 100vw;
    height: 100vh;
}

.Album {
    background: var(--background-noise),  linear-gradient(rgba(0,0,0,0.6) 0%, rgb(18, 18, 18) 100%);
    height: 100%;
}

.Home {
    background: var(--background-noise), linear-gradient(#282828 0%, #080808 30%);
    padding-top: 64px;
    height: calc(100% - 64px);
}

.Content {
    width: calc(100vw - 240px);
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    grid-row: 1;
    grid-column: 2;
}


@media screen and (max-width: 770px) {
    .Layout {
        grid-template: calc(100% - 72px) 72px / auto;
        height: 100dvh;
    }

    .Content {
        grid-column: 1;
        width: 100vw;
    }
}